@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
      background-image: url(https://cdn.pixabay.com/photo/2021/06/02/18/04/education-6305113_960_720.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .question {
    background-color: lightgreen;
    padding: 30px;
    box-shadow: 5px 5px 5px #666;
    text-align: center;
  }
  
  label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
  }
  
  input {
    display: block;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    padding: 0 15px;
    font-size: 25px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #333;
    font-family: 'Architects Daughter', cursive;
  }
  
  button {
    font-family: 'Ubuntu', sans-serif;
    padding: 0 25px;
    font-size: 25px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
  }

  h1 {
    color: black;
    background-color: lightgreen;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    padding: 30px;
    box-shadow: 5px 5px 5px #666;
  }

  header {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
  }

  header div {
    display: inline-block;
    background-color: #191016;
    color: white;
    box-shadow: 2px 2px 5px black;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 0.3rem;
  }

  header div h3 {
    padding: 0.3rem;
    margin: 0;
  }

  header div p {
    padding: 0;
    margin: 0;
  }
