@font-face {
    font-family: Berlin;
    src: url(assets/css/fonts/pastelería\ fonts/Berlin.ttf);
  }
  
  @font-face {
    font-family: Berlin reg;
    src: url(assets/css/fonts/pastelería\ fonts/Berlin\ reg.ttf);
  }
  
  @font-face {
    font-family: Lucida;
    src: url(assets/css/fonts/pastelería\ fonts/Lucida.ttf);
  }
  
  @font-face {
    font-family: Segoe;
    src: url(assets/css/fonts/pastelería\ fonts/Segoe.ttf);
  }
  
  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
  }
  
  header.masthead {
      padding-top: 10.5rem;
      padding-bottom: 6rem;
      text-align: center;
      color: black;
      background-image: url("assets/img/cajitamix4.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
  }
  
  #portada{
    background-color: #3da2aa;
    padding: 25px;
    opacity: 0.8;
    border-radius: 95px;
  }
  
  .masthead-heading{
    font-family: 'Berlin';
  }
  
  .section-heading{
    font-family: 'Berlin';
    font-size: 50px;
  }

#nosotras{
  padding-bottom: 20px;
}

.portfolio-item{
  text-align: center;
}

.portfolio-caption{
    padding-top: 20px;
}

.portfolio-caption-subheading{
  font-family: 'Berlin reg';
  padding-bottom: 35px;
}

  h3, h2{
    font-family: 'Berlin reg';
  }
  
  .page-section {
    padding: 4rem 0;
    font-family: 'Berlin';
    display: block;
  }
  
  .col-lg-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
  }
  
  .btn-primary{
    background-color: #3da2aa !important;
  }
  
  .btn-circle.btn-sm {
      width: 30px;
      height: 30px;
      padding: 6px 0px;
      border-radius: 15px;
      font-size: 8px;
      text-align: center;
  }

  
  .mx-2 {
      margin-right: 0.5rem !important;
      margin-left: 0.5rem !important;
  }
  
  
  .text-decoration {
      text-decoration: none !important;
  }
  
  .me-3 {
      margin-right: 1rem !important;
  }
  
  .footer {
      text-align: center;
      font-size: 0.9rem;
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  