.App {
  text-align: center;
}

/*

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/

.persona {
  background-color: darkcyan;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
