@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Satisfy&family=Parisienne&family=Libre+Franklin:ital,wght@1,300;1,600&family=Nunito:wght@800&family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,400&family=Balsamiq+Sans:wght@400;700&family=Caveat:wght@700&family=Outfit&family=Road+Rage&family=Roboto+Slab:wght@400;500&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(85deg, rgb(36, 36, 36), rgb(72, 11, 78), rgb(0, 0, 0));
}


.wrapper {
    width: 85%;
    margin: 0 auto;
    margin-top: 6rem;
}

/* HEADER y NAV */

a.logo h1 {
    color: rgb(206, 206, 206);
    font-family: 'Parisienne', cursive;
    text-shadow: 2px 2px 2px #000000;
    margin-left: 3rem;
    font-size: 3.5rem;
    font-weight: 700;
}

.logo h1:hover {
    color: grey;
}


.navbar {
    background: linear-gradient(85deg, rgb(36, 36, 36), rgb(72, 11, 78), rgb(0, 0, 0));
    padding: 1rem 0;
}

.nav-item {
    font-size: 1.4rem;
}

/* INICIO */

.container {
    max-width: 100%;
}

header.inicio {
    padding-top: 15rem;
    padding-bottom: 13rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #000000;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

h2.bienvenido {
    font-size: 5rem;
    font-family: 'Libre Franklin', sans-serif;
    color: rgb(142, 245, 231);
    font-weight: 700;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
    text-align: center;
}

.portada p {
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    text-shadow: 2px 2px 3px #000000;
    font-size: 2.5rem;
    font-family: 'Arvo', serif;
    text-align: center;
    line-height: 4rem;
}

.card-group {
    margin-top: 9rem;
    display: flex;
    flex-wrap: wrap;
}

.card-title a,
.card-title a:visited {
    color: rgb(142, 245, 231);
    font-weight: 700;
}

.card-title a:hover {
    color: rgb(43, 94, 87);
}

.card-img-top {
    height: 280px;
}

/* BLOG: QUIÉN SOY */

.cordoba {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/cordoba.jpg');
    background-size: cover;
    margin-top: 2rem;
    padding: 3rem;
}

.section-subheading {
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Arvo', serif;
    text-align: center;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
    text-shadow: 7px 4px 5px #000000;
    margin: 0 0 4rem 0;
    padding: 0 2rem;
}

.section-heading {
    color: rgb(240, 115, 252);
    font-size: 6rem;
    font-family: 'Nunito',
        sans-serif;
    text-align: center;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
    text-shadow: 7px 4px 5px #000000;
    margin-top: 8rem;
}

.tecnologia p {
    font-size: 2.3rem;
    font-family: 'Arvo', serif;
    text-align: center;
    padding: 5rem 2rem;
}

.blog-gifs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blog-gifs img {
    height: 300px;
}

.pandemia {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/tecnologia.jpg");
    background-size: cover;
    margin-top: 6rem;
    padding: 3rem;
}

.pandemia p,
.gracias p {
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
    text-shadow: 10px 5px 5px #000000;
}

.gracias {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../img/gracias.png");
    background-size: cover;
    padding: 12rem;
    margin: 4rem 0;
}

.gracias p {
    font-size: 5rem;
    margin: 0;
}

p.reminder {
    color: rgb(240, 115, 252);
    font-size: 3.2rem;
    text-shadow: 2px 1px 2px #000000;
    letter-spacing: 0.25rem;
}

p.reminder a {
    color: rgb(97, 245, 188);
}

p.reminder a:hover {
    color: rgb(72, 11, 78);
}


a {
    text-decoration: none;
}


/* MI CV: foto y experiencias */

.intro {
    font-size: 2.8rem;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    text-align: center;
    border: 6px double rgb(71, 71, 71);
}

.intro.body {
    margin-top: 6rem;
}

.intro a {
    color: #ffffff;
    display: block;
}

.intro a:hover {
    color: rgb(142, 245, 231);
    background-color: #000000;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.main section {
    min-width: 55%;
    width: calc((48em - 100%) * 1000);
    max-width: 100%;
}

.main aside {
    min-width: 45%;
    width: calc((48em - 100%) * 1000);
    max-width: 100%;
}

img.foto {
    width: 80%;
}

img.coding {
    width: 98%;
    margin-top: 70%;
}

img.ofi {
    width: 98%;
    margin-top: 15%;
}

img.pasteleria {
    width: 100%;
    margin-top: 40%;
}

p.experiencia,
.experiencia-info {
    font-size: 2rem;
    text-align: right;
    margin: 0;
    padding: 0;
}

p.experiencia {
    margin-top: 3rem;
}

p.experiencia-info {
    font-size: 1.1rem;
    font-style: italic;
}

.contenido,
.tareas {
    display: flex;
    flex-flow: column;
    font-size: 1.2rem;
    margin: 0.8rem 0;
}

.contenido li,
.tareas li {
    text-align: right;
    list-style-position: inside;
}

.contenido a {
    color: rgb(142, 245, 231);
    font-weight: 700;
}

.contenido a:hover {
    color: rgb(43, 94, 87);
}

/* HABILIDADES */

.habilidades {
    text-align: center;
    margin: 10% 0;
}

.habilidades .card-group {
    display: flex;
    color: rgb(142, 245, 231);
    margin: 0;
    margin-bottom: 1.2rem;
}

.habilidades .card {
    background-color: rgb(17, 17, 17) !important;
    margin: 0 1.3rem;
}

.habilidades .card-title {
    font-size: 1.8rem;
}

/* PROYECTOS */

.carousel {
    margin-top: 3rem;
    width: 70%;
}

.carouselCenter {
    display: flex;
    justify-content: center;
}

.carousel-item img {
    height: 90%;
}

.carousel-caption {
    font-weight: 700;
    text-shadow: 2px 2px 2px #000000;
}

.carousel-caption {
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
}

.carousel-caption h2,
.carousel-caption a {
    color: rgb(142, 245, 231);
    font-size: 3.3rem;
    font-family: 'Satisfy';
    font-weight: 700;
    text-shadow: 2px 2px 2px #000000;
}

.carousel-caption a:hover {
    color: rgb(43, 94, 87)
}

.carousel-caption h2 a.js,
.carousel-caption h2 a.melpast {
    font-size: 3rem;
}

.carousel-caption p {
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Balsamiq Sans',
        cursive;
    font-weight: 700;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: #000000;
    text-shadow: none;
    line-height: 1.8rem;
}


/* FOOTER */


footer a,
footer a:visited {
    color: #ffffff;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.btn.btn-circle {
    padding: 1rem;
    border-radius: 25px;
    font-size: 8px;
    text-align: center;
    border: none;
}

/* RESPONSIVE */




















@media (max-width: 991px) {

    a.logo h1 {
        font-size: 2.3rem;
        margin: 1.2rem 0;
    }

    .nav-item {
        font-size: 1.2rem;
    }

    /* INICIO */

    header.inicio {
        padding: 7rem 0;
        margin-top: 4rem;
    }

    h2.bienvenido {
        font-size: 3.2rem;
        -webkit-text-stroke-width: 1.3px;
    }

    .portada p {
        font-size: 2rem;
        line-height: 2.7rem;
        -webkit-text-stroke-width: 1.3px;
    }

    .card-img-top {
        width: 100%;
    }

    /* BLOG */

    .cordoba {
        display: grid;
        padding: 3rem 2rem 4.5rem 2rem;
    }

    .tecnologia p {
        font-size: 1.2rem;
    }

    .section-heading {
        font-size: 3rem;
        -webkit-text-stroke-color: #000000;
        -webkit-text-stroke-width: 1px;
    }

    .section-subheading {
        font-size: 1.2rem;
        -webkit-text-stroke-width: unset;
        -webkit-text-stroke-color: unset;
        margin: 0;
        padding: 0;
    }

    .pandemia p {
        font-size: 1.3rem;
        -webkit-text-stroke-width: unset;
        -webkit-text-stroke-color: unset;
    }

    .gracias {
        padding: 5rem 0;
        margin: 0;
    }

    .gracias p {
        font-size: 2.2rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;
        text-shadow: 2px 1px 2px #000000;
        letter-spacing: unset;
        line-height: 2rem;

    }

    p.reminder {
        font-size: 1.4rem;
        -webkit-text-stroke-color: #000000;
        -webkit-text-stroke-width: 0.8px;
        text-shadow: 0.8px 0.8px 1px #000000;

    }

    .blog-gifs img {
        width: 275px;
    }

    /* MI CV: foto y experiencias */

    .intro {
        font-size: 1.7rem;
        margin-top: 1rem;
    }

    .intro.body {
        margin-top: 3rem;
    }

    img.foto {
        width: 65%;
    }

    img.coding {
        margin-top: 20%;
        width: 95%;
    }

    img.ofi {
        margin-top: 10%;
        width: 95%;
    }

    img.pasteleria {
        margin-top: 15%;
        width: 95%;
    }

    p.experiencia,
    .experiencia-info {
        font-size: 1.8rem;
    }

    .contenido,
    .tareas {
        font-size: 1rem;
    }

    .habilidades .card-group {
        margin: 0 2rem;
        justify-content: center;
        align-items: center;
    }

    .habilidades .card-body {
        padding: 0.5rem;
    }

    .habilidades .card {
        margin: 0.5rem 0.4rem;
    }

    .habilidades .card-title {
        font-size: 1rem;
        margin: 0;
    }

    .carousel {
        margin: 1rem;
        width: 90%;
    }

    .carousel-caption h2,
    .carousel-caption a {
        font-size: 1.6rem;
    }

    .carousel-caption {
        font-size: 1rem;
    }

    .carousel-caption p {
        font-size: 1.2rem;
        line-height: 1.3rem;
        -webkit-text-stroke-width: 0.8px;
    }

    .carousel-caption h2 a.js,
    .carousel-caption a.melpast {
        font-size: 1.3rem;
    }

    .footer {
        font-size: 0.8rem;
    }

    .btn.btn-circle {
        padding: 0.6rem;
    }
}