@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Satisfy&family=Parisienne&family=Libre+Franklin:ital,wght@1,300;1,600&family=Nunito:wght@800&family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,400&family=Balsamiq+Sans:wght@400;700&family=Caveat:wght@700&family=Outfit&family=Road+Rage&family=Roboto+Slab:wght@400;500&display=swap');

body {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(85deg, rgb(36, 36, 36), rgb(72, 11, 78), rgb(0, 0, 0));
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
    margin-top: 6rem;
}

/* HEADER y NAV */

a.logo h1 {
    color: rgb(206, 206, 206);
    font-family: 'Parisienne', cursive;
    text-shadow: 2px 2px 2px black;
    margin-left: 3rem;
    font-size: 4rem;
    font-weight: 700;
}

.logo:hover {
    color: grey;
}


.navbar {
    padding: 1rem 0;
    background: linear-gradient(85deg, rgb(36, 36, 36), rgb(72, 11, 78), rgb(0, 0, 0));
}

.nav-item {
    font-size: 1.7rem;
}

/* INICIO */

.container {
    max-width: 100%;
}

h2.bienvenido {
    font-size: 620%;
    font-family: 'Libre Franklin', sans-serif;
    color: rgb(142, 245, 231);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}


.info {
    margin: 0;
    padding: 0;
}


.info h2 {
    font-size: 2rem;
    margin: 0.8rem 0;
    font-weight: 700;
}

.info p {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0 0 7rem 0;
    font-size: 1.3rem;
}

/* BLOG: QUIÉN SOY */

.cordoba {
    display: grid;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/cordoba.jpg');
    background-size: cover;
    width: 100vw;
    height: 130vh;
}

.section-subheading {
    font-family: 'Arvo', serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    text-shadow: 7px 4px 5px black;
    margin: 0 0 4rem 0;
    padding: 0 2rem;
}

.section-heading {
    margin-top: 8rem;
    font-family: 'Nunito', sans-serif;
    font-size: 6rem;
    text-align: center;
    color: rgb(240, 115, 252);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    text-shadow: 7px 4px 5px black;
}

.tecnologia p {
    font-family: 'Arvo', serif;
    font-size: 2.3rem;
    text-align: center;
    padding: 5rem 2rem;
}

.pandemia {
    display: grid;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/tecnologia.jpg");
    background-size: cover;
    margin-top: 6rem;
    padding: 3rem;
}

.pandemia p,
.gracias p {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    text-shadow: 10px 5px 5px black;
}

.gracias {
    display: grid;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../img/gracias.png");
    background-size: cover;
    padding: 12rem;
    margin: 4rem 0;
}

.gracias p {
    font-size: 5rem;
    margin: 0;
}

p.reminder {
    font-size: 3.2rem;
    color: rgb(240, 115, 252);
    text-shadow: 2px 1px 2px black;
    letter-spacing: 0.25rem;
}

p.reminder a {
    color: rgb(97, 245, 188);
}

p.reminder a:hover {
    color: rgb(72, 11, 78);
}

.card-title a,
.card-title a:visited {
    color: rgb(142, 245, 231);
    font-weight: 700;
}

a {
    text-decoration: none;
}


/* MI CV: foto y experiencias */

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.main section {
    min-width: 55%;
    width: calc((48em - 100%) * 1000);
    max-width: 100%;
}

.main aside {
    min-width: 35%;
    width: calc((48em - 100%) * 1000);
    max-width: 100%;
}

img.foto {
    width: 80%;
}

img.coding {
    width: 98%;
    margin-top: 30%;
}

img.ofi {
    width: 98%;
    margin-top: 26%;
}

.intro {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.8rem;
    color: black;
    text-align: center;
    border: 6px double rgb(71, 71, 71);
    font-weight: 700;
}

.intro:hover {
    background-color: black;
    color: rgb(142, 245, 231);
}

p.experiencia,
.experiencia-info {
    font-size: 2rem;
    text-align: right;
    margin: 0;
    padding: 0;
}

p.experiencia {
    margin-top: 3rem;
}

p.experiencia-info {
    font-style: italic;
    font-size: 1.1rem;
}

.contenido,
.tareas {
    display: flex;
    flex-flow: column;
    font-size: 1.2rem;
    margin: 0.8rem 0;
}

.contenido li,
.tareas li {
    text-align: right;
    list-style-position: inside;
}

/* HABILIDADES */

.habilidades {
    text-align: center;
    margin: 10% 0;
}

.habilidades-lista,
.habilidades-lista2 {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.habilidades-lista li,
.habilidades-lista2 li {
    color: rgb(142, 245, 231);
    background-color: rgb(17, 17, 17);
    font-size: 1.8rem;
    list-style: none;
    border-radius: 10px;
    padding: 0.8%;
}

.habilidades-lista2 {
    margin-top: 2rem;
}

/* FORM */

.contacto {
    text-align: center;
}

/* FOOTER */

p.top {
    display: inline;
    font-weight: bold;
    margin: 0 2rem;
}

footer {
    font-size: 1rem;
    padding-bottom: 0.6rem;
    text-align: center;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
}

footer li img {
    width: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer a,
footer a:visited {
    color: white;
}

/* RESPONSIVE */

header.inicio {
    padding-top: 15rem;
    padding-bottom: 13rem;
    margin-bottom: 4rem;
    text-align: center;
    color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

h2.bienvenido {
    font-size: 620%;
    font-family: 'Libre Franklin', sans-serif;
    color: rgb(142, 245, 231);
    font-weight: 700;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.portada p {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 3px black;
    font-size: 2.5rem;
    font-family: 'Arvo', serif;
    text-align: center;
    line-height: 4rem;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.btn.btn-circle {
    padding: 1rem;
    border-radius: 25px;
    font-size: 8px;
    text-align: center;
    border: none;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.blog-gifs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-group {
    margin-top: 9rem;
    display: flex;
    flex-wrap: wrap;
}

.card-img-top {
    height: 280px;
}

.carousel {
    margin-top: 3rem;
    width: 70%;
}



.carouselCenter {
    display: flex;
    justify-content: center;
}

.carousel-item img {
    height: 90%;
}

.carousel-caption {
    text-shadow: 2px 2px 2px black;
    font-weight: 700;
}

.carousel-caption {
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
}

.carousel-caption h2,
.carousel-caption a {

    font-family: 'Satisfy';
    font-weight: 700;
    font-size: 4rem;
    color: rgb(142, 245, 231);
    text-shadow: 2px 2px 2px black;
}

.carousel-caption a:hover {
    color: rgb(43, 94, 87)
}

.carousel-caption h2 a.js {
    font-size: 3.7rem;
}

.carousel-caption p {
    color: white;
    font-size: 2rem;
    line-height: 1.8rem;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: black;
    text-shadow: none;
    font-family: 'Balsamiq Sans',
        cursive;
    font-weight: 700;
}






.habilidades .card-group {
    color: rgb(142, 245, 231);
    margin: 0;
    margin-bottom: 1.2rem;
    display: flex;
}

.habilidades .card {
    margin: 0 1.3rem;
    background-color: rgb(17, 17, 17) !important;
}


.habilidades .card-title {
    font-size: 1.8rem;
}