body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(https://www.thirtythreeforty.net/ticalcs_hu35015db71da79f6ad1078eeea5bc44b4_189712_filter_9592289451976887094.jpg);
  background-size: cover;
}

form,
.index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79vh;
}

fieldset,
.index div {
  display: inline;
  background: linear-gradient(
    rgba(114, 110, 110, 0.6),
    rgba(173, 117, 117, 0.6));
  padding: 3rem;
}

legend,
input,
label,
fieldset,
.index div {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
  font-weight: 700;
}

legend {
  font-size: 3rem;
  text-shadow: 1px 1px 2px black, 
  0 0 8px white, 
  0 0 10px salmon;
}

select,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: salmon;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}

select:hover,
button:hover {
  color: salmon;
  background-color: black;
  cursor: pointer;
}

.botonsegundo {
  text-align: center;
  margin-top: 2rem;
}

.pares li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li label {
  font-size: 3rem;
}

li input {
  transform: scale(2);
}

.index div {
  text-align: center;
}

h2,
h3,
h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 1px 2px black, 
  0 0 8px white, 
  0 0 10px salmon;
}

.index li {
  display: inline-block;
  font-size: 4rem;
}

.index a {
  color: black;
  text-decoration: none;
  text-shadow: 1px 1px 2px black,
  0 0 8px white,
  0 0 10px salmon;
  padding: 2rem;
}

.index a:hover {
  color: salmon;
  text-shadow: 1px 1px 2px black,
  0 0 8px black,
  0 0 10px black;
}

footer {
  background-color: black;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
}

footer a {
  color: white;
  font-size: 2.3rem;
  text-decoration: none;
  text-shadow: 1px 1px 2px black,
  0 0 8px black,
  0 0 10px salmon;
}

footer a:hover {
  color: salmon;
  cursor: pointer;
  text-shadow: 1px 1px 2px black,
  0 0 8px black,
  0 0 10px white;
}
