html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  margin: 2.5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://fondosmil.com/fondo/27569.jpg);
  background-size: cover;
}
.wrapper {
    width: 400px;
    background-color: black;
    color: white;
}
.screen {
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 20px;
}
.calc-button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.calc-button {
    background-color: #b6ceff;
    color: black;
    height: 100px;
    flex-basis: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}
.calc-button:hover {
    background-color: #9cb1da;
}
.calc-button:active {
    background-color: #7c8cac;
}
.double {
    flex-basis: 49.7%;
}
.triple {
    flex-basis: 74.8%;
}
.calc-button:last-child {
    background-color: #f845ad;
    color: white;
}
.calc-button:last-child:hover {
    background-color: #b6327f;
}

.calc-button:last-child:active {
    background-color: #9b2b6c;
}
.calc-button-row:last-child {
    padding-bottom: 0;
}